{% extends "layouts/base.html" %}

{% block title %} Update {% endblock %}

{% block content %}   

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">

        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">



<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h5>Edit Info</h5>
            </div>
            <form method="POST" action="/update/{{ user.id }}">
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-6 mb-4">
                            
                                <label>Username :</label>
                                <input class="form-control" name="username" value="{{ user.username }}" aria-describedby="userHelp" placeholder="Masukkan Nama">
                            
                        </div>
                        <div class="col-sm-6 mb-4">
                            
                                <label>Email :</label>
                                <input type="email" value="{{ user.email }}" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Masukkan Email">   
        
                        </div>
                        <div class="col-sm-12 mb-2">
                                <input type="submit" value="Update" class="btn btn-primary">
                            </div>
            </form>
            

{% endblock content %}





